#ape-minted {

     display: --webkit-box;
    display: -ms-flexbox;
    display: flex;
    --webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    --webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    --webkit-box-orient: horizontal;
    --webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 35px;
    width: 240px;
}

.counter {

  font-size:20px;
  width:200px;
  vertical-align: middle;

}
