#ape-minted {
     margin-top: 10px;
     display: --webkit-box;
    display: -ms-flexbox;
    display: flex;
    --webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    --webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    --webkit-box-orient: horizontal;
    --webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 35px;
    width: 240px;
}

.counter {

  font-size:20px;
  width:200px;
  vertical-align: middle;

}

.toast-info {
    display: flex;
    padding: 15px 18px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
}
#toast-container>div {
	padding: 15px 15px 15px 50px;
	
}
#toast-container>.toast-info{
    background: black !important;
}
